@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    background-image: url(/img/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background: white;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    border-radius: 8px ;
    box-shadow: 5px 5px 15px rgb(178, 66, 66) (0,0,0,0.2);
}
h2{
    margin-bottom: 2rem;
}
form{
    display: flex;
    flex-direction: column;
}
.input-field{
    position: relative;
}
.input-field input{
    outline: none;
    font-weight: 0.9rem;
    color: black(0,0,0,0.7);
    margin-top: 1rem;

}
#botao-continue{
    background: linear-gradient(to left, rgb(34, 168, 153), rgb(163, 167, 166) );
    margin-top: 2rem;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    height: 40px;
    border-radius: 8px;
}
#botao-continue:hover{
    font-size: 1rem;
    transition: 0.3s;
}
